*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(236, 236, 236);

}

header{
    background-color: white;
    padding: 20px;
}

.title{
    font-size: 300%;
    font-weight: 600;
}

.button{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 70%;
    padding-left: 260px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15%;
    margin-top: 30px;
    background-color: white;
}

