*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(236, 236, 236);

}

header{
    background-color: white;
    padding: 20px;
}

.first{
    background-color: skyblue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 7px;
    font-size: 16px;
}

.second{
    background-color: white;
    border-color: lightgray;
    border-radius: 5px;
    color:lightgray;
    padding: 7px;
    font-size: 16px;
}


.title{
    font-size: 300%;
    font-weight: 600;
}

.button{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 70%;
    padding-left: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15%;
    margin-top: 30px;
    margin-bottom: 5px;
    background-color: white;

}


.bullet{
    width: 70%;
    margin-left: 15%;
    padding-left: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.part{
    padding-top: 15px;
    padding-bottom: 15px;
}

.editorial{
    color: white;
    background-color: skyblue;
    border-radius: 15px;
    margin: 5px;
    padding: 6px;
}

.q1{
    color: white;
    background-color: rgb(151, 41, 151);
    border-radius: 15px;
    margin: 5px;
    padding: 6px;
}
.recruiting{
    color: white;
    background-color: rgb(41, 151, 65);
    border-radius: 15px;
    margin: 5px;
    padding: 6px;
}
.mobile{
    color: white;
    background-color: orange;
    border-radius: 15px;
    margin: 5px;
    padding: 6px;
}
.web{
    color: white;
    background-color: rgb(255, 135, 255);
    border-radius: 15px;
    margin: 5px;
    padding: 6px;
}
.sales{
    color: white;
    background-color: rgb(85, 151, 41);
    border-radius: 15px;
    margin: 5px;
    padding: 6px;
}
